/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Generics */

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

section{
    padding: 20px;
}

/* Nav */

nav{
    background-color: aqua;
    padding: 10px;
}


.nav{
    flex-basis: 50%;
    background-color: goldenrod;
    border: 1px dashed black;
    min-height: 1.5rem;
    
}

.side-nav{
    flex-basis: 25%;
    background-color: goldenrod;
    border: 1px dashed black;
}

/* Header */

header{
    background-color: blue;
    padding: 20px;
}

.main-header{
    flex-basis: 70%;
    background-color: fuchsia;
    border: 1px dashed black;
    min-height: 250px;
}

/* Main */

.bg-lightgrey{
    background-color: lightgrey;}

.dodgerblue{
    flex-basis: 70%;
    background-color: dodgerblue;
    border: 1px dashed black;
    min-height: 250px;
}

.pink{
    flex-basis: 30%;
    background-color: pink;
    border: 1px dashed black;
    min-height: 300px;
}

.square-green{
    flex-basis: 100%;
    background-color: green;
    border: 1px dashed black;
    min-height: 1000px;
}

/* Footer */